<ion-view view-title="Search">

  <ion-content>
    <ion-header-bar class="bar-dark">
      <h1 class="title">Login</h1>
    </ion-header-bar>
    <div>
      Hello
      <!--<ion-content>-->
        <!--<form>-->
          <!--<div class="bar-header">-->
          <!--</div>-->
          <!--<div class="list">-->
            <!--<label class="item item-input item-floating-label">-->
              <!--<span class="input-label">Username</span>-->
              <!--<input type="text" placeholder="Username" ng-model="loginData.username">-->
            <!--</label>-->
            <!--<label class="item item-input item-floating-label">-->
              <!--<span class="input-label">Password</span>-->
              <!--<input type="password" placeholder="Password" ng-model="loginData.password">-->
            <!--</label>-->
            <!--<label class="item ">-->
              <!--<button ng-click="doLogin()" class="button button-block button-positive" type="button">Sign in</button>-->
            <!--</label>-->
            <!--<label class="item item-input">-->
              <!--<button ng-click="doRegister()" class="button button-block button-positive" type="button">Register-->
              <!--</button>-->
            <!--</label>-->
          <!--</div>-->
        <!--</form>-->
      <!--</ion-content>-->
    </div>
  </ion-content>
</ion-view>
